@import "../../query-media.scss";

.menu {
	width: 450px;
	height: 100vh;
	background-color: lightgrey;
	position: fixed;
	top: 0;
	right: -450px;
	z-index: 99;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 30px;
	transition: all 1.5s ease;

	&.active {
		right: 0;
	}

	@include sm-desktop {
		width: 80%;
		height: 100vh;
		background-color: lightgrey;
		position: fixed;
		top: 0;
		right: -80%;
		z-index: 99;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 30px;
		transition: all 1.5s ease;

	}

	.success {
		position: fixed;
		top: 72px;
		z-index: 99;
		width: 40%;
		right: 30%;
	}

	.menuTop {
		display: flex;
		justify-content: flex-end;

		.icons {
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			background-color: #fff;
			color: crimson;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			@include sm-desktop {
				// background-color: #0ff;
				width: 4rem;
				height: 4rem;
				font-size: 26px;
			}
		}

	}

	.items {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 20px;
		padding: 1rem;

		.item {
			display: flex;
			width: 100%;
			background-color: rgb(48, 70, 70);
			padding: 1rem;
			border-radius: 10px;
			cursor: pointer;
			color: #fff;
			justify-content: space-between;
			flex-direction: column;

			.top {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.left {
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: flex-start;
					gap: 10px;

					img {
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
						object-fit: cover;
					}

				}

				.center {
					display: flex;
					align-items: center;
					justify-content: space-around;
					gap: 30px;

					.left,
					.right {
						background-color: black;
						color: #fff;
						padding: 0.7rem;
						font-size: 20px;
						border-radius: 50%;
					}

					.inputQuantity {
						input {
							width: 2rem;
							text-align: center;
						}
					}
				}

				.right {
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: flex-start;
					gap: 10px;

					.icons {
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
						background-color: #fff;
						color: crimson;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
					}

					span {
						color: crimson;
					}

				}
			}
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left {
			// background-color: #0ff;
		}

		.right {
			// background-color: crimson;
		}
	}
}
