.topbar {
	width: 100%;
	height: 70px;
	background-color: antiquewhite;
	color: #111;
	position: relative;
	border-bottom: 1px solid lightgray;

	.topbar-container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 1rem;


		.left {
			display: flex;
			align-items: center;
			gap: 10px;
			span {
				font-size: 29px;
				font-weight: 800;
				font-style: italic;
				cursor: pointer;
			}
			.logo {
				cursor: pointer;
				border: 1px solid gray;
				border-radius: 50%;
				width: 3.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 3.2rem;

				img {
					width: 3rem;
					height: 3rem;
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}

		.right {
			.right-items {
				display: flex;
				align-items: center;
				font-size: 20px;
				cursor: pointer;
				justify-content: space-between;
				padding: 0.5rem;
				position: relative;

				small {
					background-color: red;
					color: #fff;
					position: absolute;
					right: 0;
					top: -3px;
					width: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 20px;
					border-radius: 50%;


				}
			}
		}
	}

	.cart {
		background-color: antiquewhite;
		border-top: 1px solid lightgray;
		transition: all 2s ease;
		width: 30%;
		position: absolute;
		right: 0;
		top: 70px;
		height: calc(100vh - 80px);
		display: flex;
		gap: 40px;
		padding: 0.4rem;
		flex-direction: column;
		z-index: 99;

		&.cart-open {
			animation: slideIn 2s ease;
		}

		.top-cart {
			display: flex;
			justify-content: flex-end;
			padding: 1rem;
			font-size: 29px;
			cursor: pointer;
			color: crimson;

			.icons {
				background-color: #fff;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
			}
		}

		ul {
			padding: 1rem;
			list-style: none;
		}

		.bottom-cart {
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			font-size: 29px;
		}
	}
}

@keyframes slideIn {
	from {
		right: -100%;
	}

	to {
		right: 0;
	}
}
