.cartProduct {
	padding: 1rem;

	.items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;

		.cart-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
